// basic layout of all pages
html{
  scroll-behavior: smooth;
}

body {
  font-family: $fontstack;
  padding-top: 8.5rem;
  h1, h3, h4, h5, nav{
    font-family: $fontstackHeaders;
  }
}

nav {
  .collapse navbar-collapse {
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .image-hide {
    display: none;
  }

}
