// override BS5 variables and custom variables mixins

$fontstack: 'Mukta', sans-serif;
$red: #E63946;
$white: #F1FAEE;
$light_blue: #A8DADC;
$blue: #457B9D;
$darkblue: #1D3557;
$black: #000;
$mid-to-dark-blue: #3d5a80;
$test: #98C1D9;
$card-bg: #81a1d9;

$n1: #5f639b;
$n2: #68699f;
$n3: #9584a8;
$n4: #a88aa2;
$n5: #b59195;
$n6: #c69992;
$n7: #e3a68f;
$n8: #f9bd99;
$n9: #ffd8a7;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'secondary': $primary,
    'darkblue': $darkblue,
    'mid-to-dark-blue': $mid-to-dark-blue,
    'test': $test,
    'card-bg': $card-bg
  )
);

