// override BS5 variables and custom variables mixins


$fontstack: 'Raleway';
$fontstackHeaders: 'Shizuru', cursive, sans-serif;
$almond: #ede0d4ff;
$desert-sand: #e6ccb2ff;
$burlywood: #c48f5aff;
$cafe-au-lait: #b08968ff;
$coffee: #7f5539ff;
$brown-sugar: #9c6644ff;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': #a68f70,
    'secondary': #abd7c6,
    'pink': #ffd4d4,
    'almond': $almond,
    'desert-sand': $desert-sand,
    'burlywood': $burlywood,
    'cafe-au-lait': $cafe-au-lait,
    'coffee': $coffee,
    'brown-sugar': $brown-sugar,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'text');
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'bg');
